html {
  font-family: 'Mulish', sans-serif;
  font-size: 16px;
}

body header {
  background: rgb(249,245,245);
  height: 50vh;
}


body header nav {
  width: 1000px;
  margin: auto;
  position: relative;
  top: 20px;
  display: flex;
  justify-content: flex-end;
}

body header nav a {
  padding: 5px 10px;
  text-decoration: none;
  color: #101010;
  border-bottom: 1px solid rgba(0,0,0,0);
}
body header nav a:hover {
  border-bottom: 1px solid #101010;
}

body header nav .link-margin {
  margin: 0 20px;
}

body header .center {
  width: 1000px;
  margin: 200px auto 0 auto;
}

body header .center h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  margin: 0 0 10px 0;
  padding: 0;
}

body header .center p {
  width: 300px;
  line-height: 1.5rem;
}

body main section {
  width: 1100px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

body main section h2 {
  width: 100%;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  margin: 15% 0 0 0;
}

body main section article {
  width: 48%;
  margin: 5% 0 0 0;
  padding: 25px 39px;
  box-sizing: border-box;
  align-self: flex-start;
}
body main section article:hover {
  background: #f3f6f9;
  border-radius: 6px;
}

body main section article img {
  width: 100%;
  height: 33vh;
  border-radius: 6px;
  vertical-align: top;
  object-fit: cover;
}

body main section article h3 {
  width: 100%;
  font-size: 2rem;
  font-weight: 700;
  margin: 5% 0 1% 0;
}

body main section article p {
  width: 100%;
  line-height: 1.5rem;
}

body footer {
  background: #F9F9F9;
  height: 60vh;
  display: flex;
  flex-wrap: wrap;
  align-content:space-between;
}

body footer article {
  width: 1100px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

body footer article h3 {
  width: 100%;
  margin: 200px 0 50px 0;
  font-size: 2rem;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

body footer article section {
  width: 20vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

body footer article section .email::before {
  content: '';
  display: flex;
  background: url('reshot-icon-twitter-4EAXDHGYM5.svg');
  background-size: cover;
  width: 30px;
  height: 30px;
}

body footer article section .twitter::before {
  content: '';
  display: flex;
  background: url('reshot-icon-twitter-4EAXDHGYM5.svg');
  background-size: cover;
  width: 30px;
  height: 30px;
}

body footer article div {
  flex-grow: 0.05;
}

body footer article section p {
  width: 100%;
  margin: 10px 0 0 0;
  text-align: center;
}

body footer > p {
  background: #E9EBF8;
  width: 100%;
  padding: 15px 0;
  text-align: center;
  color: #8f8f8f;
}
